<!doctype html>
<html>
	<head>
	<title>TT - chat bot agent</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="app" class="container">
			<div class="row">
				<h1 class="heading">Chat</h1>
			</div>
			<div class="row">
				<div class="col-md-8 chat-div">
					<ul class="messages" >
						<li v-for="item in selectedUser.chats">
							{{ item.msg }}
						</li>
					</ul>
					<form>
						<input v-model="message" autocomplete="off" placeholder="edit me"/>
						<button v-on:click="post">Send</button>
					</form>
				</div>
				<div class="col-md-4 agent-section">
					<div>
						<select class="container-fluid mySelect" v-model="currentChannel" id="channel">
							<option v-for="option in channels" v-bind:value="option">
								{{ option }}
							</option>
						</select>
					</div>
					<div>
						<button @click="refereshUserList">Refresh list</button>
						<ul class="users" >
							<li v-for="user in users" v-on:click="selectUser(user)">
								{{ user.username }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/static/js/agent.js"></script>
		<script>
		</script>
	</body>
</html>